
<h1>All users</h1><br><br><br>
<div>
<% @user.each do |f| %>
 <table class="table table-dark">


  <tbody>
         <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Email</th>
      <th scope="col">Tabs</th>
    </tr>
  </thead>
    <tr>

      <th scope="row"><%= f.id %></th> 

      <td><%=f.name%></td>
      <td><%=f.email%></td>
      <td><%= link_to 'Show', user_path(f) %>
 <%= link_to 'Edit', edit_user_path(f)%>
  <%= link_to 'Destroy', user_path(f), method: :delete, data: {confirm:'Are you sure?'} %><br><br></td>
    </tr>
  </tbody>
</table>

 <% end %>
 <br><br><br>
 <%= link_to 'Enter New User', new_user_path %>
