
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h1>User's Detailed Info</h1>
 <br><br>Name: <%= @user.name %><br><br>
 <br><br>Email: <%= @user.email %><br><br>
 <br><br>Created: <%= @user.created_at %><br><br>
 <br><br>Updated: <%= @user.updated_at %><br><br>
    
  </div>
</div>